.dialog-container{
    display: flex;
    flex-direction: column;
}
.dialog-container img{
    width: 100px;
    border-radius: 5px;
    
    
    margin: 0 auto;
}

.dialog-container h3 {
    text-align: center;
    font-size: 20px;
}

.dialog-container span {
    line-height: 25px;
    font-size: 17px;
}