<app-header></app-header>
<div class="home-container">
    <img class="img" src="assets/images/Banner_Biblioteca.jpg" alt="Logo Google">
    <div class="texto-home"><h2> Tenha controle de empréstimos e gerenciar melhor sua biblioteca </h2></div>
    <div class="texto-home"><h1> BIBLIOTECH </h1></div>
    <div class="imgDireita">
        <img src="assets/images/leitura.png" alt="Pessoa lendo">
    </div>
    <div class="imgEsquerda">
        <img src="assets/images/leituraE.png" alt="Pessoa lendo">
    </div>
</div>


