.home-container {
    padding-top: 64px;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.home-container img {
    height: 50%;
    width: 100%;
}

.home-container h2 {
    position: absolute;
    bottom: 250px;
    left: 20%;
    color: #795137;
    display: flex;
    justify-content: center;
}

.home-container h1 {
    position: absolute;
    top: 270px;
    left: 40px;
    color: #ffffff;
    font-size: 120px;
}

.imgDireita{
    width: 15%;
    position: absolute;
    right: 2%;
    bottom: 1%;
}

.imgEsquerda{
    width: 20%;
    position: absolute;
    left: 0%;
    bottom: 0%;
}