mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    background-color: #8f5c3a;
    color: #FFFFFF;
}

#logout {
    display: flex;
    align-items: center;
}

#logout i {
    margin-left: 10px;
}

