<app-header></app-header>
<div id="login-container">
    <div class="login-form">
        <h1>Inscreva-se</h1>
        <button class="btn-img">
            <img class="img" src="assets/icons/google-logo.svg" alt="Logo Google">
            <p class="btn-text">Continuar com Google</p>
        </button>
        <form >
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button type="submit" >Entrar</button>
        </form>
        <span><a routerLink="/login">Voltar para Login</a></span>
    </div>
</div>
