<app-header></app-header>
<div id="login-container">
    <div class="login-form">
        <h1>Cadastre-se</h1>
        <button class="btn-img" (click)="cadastrarGoogle()">
            <img class="img" src="assets/icons/google-logo.svg" alt="Logo Google">
            <p class="btn-text">Cadastre-se com Google</p>
        </button>
        <form [formGroup]="cadastrarFormulario">
            <input type="email" placeholder="E-mail" formControlName="email" required>
            <input type="password" placeholder="Senha" formControlName="senha" required>
            <button type="submit" (click)=" cadastrarUsuario()">Cadastrar</button>
        </form>
        <span><a routerLink="/login"> Voltar para Login </a></span>
    </div>
</div>