.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.full-width {
    width: 100%;
}

.btn-submit {
    margin-top: 30px;
    background-color: #8f5c3a;
    color: #ffffff;
}

.btn-submit:hover {
    background-color: #8f5c3a;
}

.btn-close:hover {
    background-color: #804141;
}


.btn-back{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #8f5c3a;
  }

