<app-header></app-header>
<div class="container">
    <h1>Novo Empréstimo</h1>
    <form [formGroup]="formEmprestimo">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Leitor</mat-label>
            <input type="text" matInput placeholder="Leitor" formControlName="leitor">
          </mat-form-field>

          <div class="double-width">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="E-mail" formControlName="email">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="Telefone" formControlName="telefone">
          </mat-form-field>
        </div>

        <div class="double-width">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="Pendente">
                Pendente
              </mat-option>
              <mat-option value="Devolvido">
                Devolvido
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Livro</mat-label>
            <mat-select formControlName="livro"> 
              <mat-option *ngFor="let livro of livros" [value]="livro">
                {{livro.titulo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
              

          <div class="double-width">
            <button class="full-width btn-submit" mat-raised-button>Cadastrar</button>
          </div>
          
    </form>
    <a mat-fab color="primary" class="btn-back" routerLink="/dashboard">
        <i class="material-icons">arrow_back</i>
      </a>
</div>