.table-container {
    height: 65vh; 
    overflow: auto;
    border-radius: 10px;
  }
  
  table {
    width: 100%;
    background-color: rgb(244, 236, 231);
    
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .btn-new{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #8f5c3a;
  }
  .btn-new:hover {

    background-color: #795137;
  }
  
  .btn-back{
    position: absolute;
    bottom: 90px;
    right: 30px;
  
    background-color: #8f5c3a;
  }
  .btn-back:hover{
    background-color: #795137;
  }

  .container {
    color: #795137;
  }

  .capa{
    width: 80px;
    border-radius: 5px;
  }