.table-container {
  height: 40vh;
  overflow: auto;

  border-radius: 10px;
}

table {
  width: 100%;
  background-color: rgb(244, 236, 231);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-new {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #8f5c3a;
}

.btn-back {
  position: absolute;
  bottom: 90px;
  right: 30px;

  background-color: #8f5c3a;
}

.section-form {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 90%, 1400px);
  margin-top: 5px;

}

.btn-submit {
  margin-top: 30px;
  background-color: #8f5c3a;
  color: #ffffff;
}

.btn-submit:hover {
  background-color: #587dc8;
}

.fomulario-livro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.double-width .full-width{
  width: 70vh;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.container2 {
  padding-top: 30px;
}